<h1>Rock 'n Rails!</h1>

<% @albums.each do |album| %>
  <p>Title: <%= album.title %></p>
  <p>Artist: <%= album.artist %></p>
  <img src="<%= album.cover_art %>">
  <br>
  <a href="/albums/<%= album.id %>">Show page</a>
<% end %>
