<h1>Rock 'n Rails!</h1>

<% @albums.each do |album| %>
  <p>Title: <%= album.title %></p>
  <p>Artist: <%= album.artist %></p>
  <%= image_tag album.cover_art %>
  <br>
  <%= link_to "Show Page", album_path(album.id) %>
<% end %>
